*,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(181, 255, 138);
}


.l1nk {
  
  margin-top: 0%;
}
.navbar {
  background-color: rgb(255, 255, 255);
}
 /* Navbar dalam kotak hitam css disetting */
.li-navbar {

font-size: 200%;

list-style-type: none;

padding: 30px; /* 30px */

margin: 2%; /* 2% */
  
border: 2px solid black;  
} 

/* Global Navbar css disetting */
.ul-navbar {

box-sizing: border-box;
display: flex;
padding: 10px; /* 10px */
justify-content: center;
}  
  
  /* mobile-phone */

@media (max-width: 450px) {

/* Navbar dalam kotak hitam css disetting */
.li-navbar {
  font-size: 70%; /* nanti diganti lagi */
  list-style-type: none; 
  padding: 12px; /* 30px */ 
  margin: 0.3%; /* 2% */
  border: 2px solid black; /* harus disetting border box nya */
}



/* Global Navbar css disetting */
.ul-navbar {
 /* font-size: 200%; */

  box-sizing: border-box; /* ini adalah buat box-sizing */
  display: flex;
  padding: 5px; /* 10px */
  justify-content: center;
  align-items: center;
}

}

/* nnti diganti lgi */
.li-navbar a:hover {
  color: rgb(0, 0, 255);
  border-bottom: 1px solid blue;
}
  
.container-tulisan {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.container-footer {
  background-color: aliceblue;
  margin-top: 10%;
  display: flex;

  justify-content: center;
}

.h4-footer {
  color: cadetblue;
}

.tulis {
  display: flex;
  margin-top: 35px;
  margin-left: 10px;
}
.gmbr1 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.gmbr1 button {
  background-color: transparent;
  cursor: pointer;
}
.lari {
  display: block;
  margin-left: 7%;
}



.gmbr2 {
  display: flex;
 /*position: relative; */
  right: 10%;
  top: 80%;
  padding-left: 10px;
}
  
.gmbr2 button {

/* position: absolute; */  
background-color: transparent;
/* border: 1px solid #3498db; */  
/* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); */  
cursor: pointer;  
}

.navbar1 {
  margin-top: 35px;
  margin-left: 10px;
}

.ul-navbar1 {
  list-style-type: none;
}

.ul-navbar1 a {

color: black;
}  

 /* buat navbar1 di contact.html */
.ul-navbar1 a:hover {
  color: rgb(0, 0, 255);
  border-bottom: 1px solid blue;

}  

.gmbr-naikgunung button {
  background-color: transparent;
  cursor: pointer;
}
.kontak {
  display: flex;
  justify-content: center;
  align-items: center;
}
