*,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(181, 255, 138);
}


.l1nk {
  
  margin-top: 0%;
}
.navbar {
  background-color: rgb(255, 255, 255);
}
/* Navbar dalam kotak hitam css disetting */
.li-navbar {
  font-size: 70% /* nanti diganti lagi */
  list-style-type: none;
  padding: 12px; /* 30px */ 
  margin: 0.3%; /* 2% */
  border: 2px solid black; /* harus disetting border box nya */
}

/* nnti diganti lgi */
.li-navbar a:hover {
  color: red;
} 

/* Global Navbar css disetting */
.ul-navbar {
 /* font-size: 200%; */

  box-sizing: border-box;
  display: flex;
  padding: 5px; /* 10px */
  justify-content: center;
  align-items: center;
}

.container-tulisan {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.container-footer {
  background-color: aliceblue;
  margin-top: 10%;
  display: flex;

  justify-content: center;
}

.h4-footer {
  color: cadetblue;
}

.tulis {
  display: flex;
  margin-top: 35px;
  margin-left: 10px;
}
.gmbr1 {
  align-items: center;
  display: flex;
  justify-content: center;
}

.lari {
  display: block;
  margin-left: 7%;
}

.gmbr2 {
  display: flex;

  right: 10%;
  top: 80%;
  padding-left: 10px;
}

.navbar1 {
  margin-top: 35px;
  margin-left: 10px;
}

.ul-navbar1 {
  list-style-type: none;
}
.kontak {
  display: flex;
  justify-content: center;
  align-items: center;
}
